<div class="container page-body">
	<div class="row">
		<div class="col-sm-10 col-xs-12 dev-intro">
			<h2><a href="mailto:info@jonporras.com">info@jonporras.com</a></h2>
			<p>I'm a Full Stack Web Developer and Programer based in Brooklyn.</p>
		</div>
		<div class="col-sm-2 col-xs-12 dev-github">
			<h2><a href="https://github.com/jonathanporras" target="_blank">GitHub</a></h2>
		</div>
		
	</div>
	<div class="dev-work-wrapper">
		<div class="row">
			<h2 class="col-xs-12">Work</h2>
		</div>
		<% for(var i=0; i<devWork.length; i++) { %>
		<div class="row dev-work-blurb">
			<p class="col-xs-12 col-sm-2"><%= devWork[i].year %></p>
			<p class="col-xs-12 col-sm-3"><%= devWork[i].client.name %></p>
			<p class="col-xs-12 col-sm-5"><a href="<%= devWork[i].link %>" target="_blank"><%= devWork[i].link %></a></p>
			<p class="col-xs-12 col-sm-2">With: <a href="<%= devWork[i].designer.link %>" target="_blank"><%= devWork[i].designer.name %></a></p>
		</div>
		<% } %>
	</div>
</div>