<div class="container">
	<div class="row">
		<div class="col-xs-12 dev-intro">
			<h2>porrasjon@gmail</h2>
			<h4>Full Stack Web Developer. Available for collaborations.</h4>
		</div>
		
	</div>
	<div class="dev-work-wrapper">
		<div class="row">
			<h2 class="col-xs-12">Work</h2>
		</div>
		<% for(var i=0; i<devWork.length; i++) { %>
		<div class="row">
			<p class="col-xs-12 col-sm-3"><%= devWork[i].year %></p>
			<p class="col-xs-12 col-sm-3"><%= devWork[i].client.name %></p>
			<a href="<%= devWork[i].link %>" target="_blank"><p class="col-xs-12 col-sm-3"><%= devWork[i].link %></p></a>
			<a href="<%= devWork[i].designer.link %>" target="_blank"><p class="col-xs-12 col-sm-3"><%= devWork[i].designer.name %></p></a>
		</div>
		<% } %>
	</div>
</div>