<div class="container page-body">
	<div class="row">
		<div class="col-xs-12 dev-intro">
			<h2>porrasjon@gmail</h2>
			<p>I'm a Full Stack Web Developer and Programer based in Brooklyn. Now available for contracted work and collaborations.</p>
		</div>
		
	</div>
	<div class="dev-work-wrapper">
		<div class="row">
			<h2 class="col-xs-12">Work</h2>
		</div>
		<% for(var i=0; i<devWork.length; i++) { %>
		<div class="row">
			<p class="col-xs-12 col-sm-2"><%= devWork[i].year %></p>
			<p class="col-xs-12 col-sm-3"><%= devWork[i].client.name %></p>
			<p class="col-xs-12 col-sm-5"><a href="<%= devWork[i].link %>" target="_blank"><%= devWork[i].link %></a></p>
			<p class="col-xs-12 col-sm-2">With: <a href="<%= devWork[i].designer.link %>" target="_blank"><%= devWork[i].designer.name %></a></p>
		</div>
		<% } %>
	</div>
</div>