<div class="container">

	<h2>Solo Albums</h2>

	<% var counter1 = 0 %>
	<% for(var i = 0;i < data[0].solo.length; i++){ %>

		<% if(counter1 === 0) { %>
		<div class="row">
		<% } %>

			<div class="album-wrapper col-xs-12 col-sm-4">
				<img class="album-cover" src="<%= data[0].solo[i].albumCover %>">
				<div id="albumData" class="album-data">
					<img id="innerAlbumCover" class="inner-album-cover" src="<%= data[0].solo[i].albumCover %>">
					<p><%= data[0].solo[i].artist %></p>
					<p><%= data[0].solo[i].albumTitle %></p>
					<p><%= data[0].solo[i].year %></p>
					<p><%= data[0].solo[i].label %></p>
					<% for(var j=0; j<data[0].solo[i].trackList.length; j++) { %>
						<p><%= data[0].solo[i].trackList[j] %></p>
					<% } %>
				</div>
			</div>

		<% if(counter1 === 2 || i === data[0].solo.length - 1) { %>
		<% counter1 = 0 %>
		</div>
		<% } else { counter1++ } %>

	<% } %>
	

	<h2>Collaborative Albums</h2>

	<% var counter2 = 0 %>
	<% for(var i = 0;i < data[1].collab.length; i++){ %>
		
		<% if(counter2 === 0) { %>
		<div class="row">
		<% } %>

			<div class="album-wrapper col-xs-12 col-sm-4">
				<img class="album-cover"  src="<%= data[1].collab[i].albumCover %>">
				<div id="albumData" class="album-data">
					<img id="innerAlbumCover" class="inner-album-cover" src="<%= data[1].collab[i].albumCover %>">
					<p><%= data[1].collab[i].artist %></p>
					<p><%= data[1].collab[i].albumTitle %></p>
					<p><%= data[1].collab[i].year %></p>
					<p><%= data[1].collab[i].label %></p>
					<% for(var j=0; j<data[1].collab[i].trackList.length; j++) { %>
						<p><%= data[1].collab[i].trackList[j] %></p>
					<% } %>
				</div>
			</div>

		<% if(counter2 === 2 || i === data[1].collab.length - 1) { %>
		<% counter2 = 0 %>
		</div>
		<% } else { counter2++ } %>

	<% } %>	
</div>