<div class="container page-body">
	<div class="bg-screen"></div>
	<h2 class="solo-header">Solo</h2>
	<div class="music-solo-section">
		<% var counter1 = 0 %>
		<% for(var i = 0;i < albumData[0].solo.length; i++){ %>

			<% if(counter1 === 0) { %>
			<div class="row">
			<% } %>

				<div class="album-wrapper col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
					<img class="album-cover" src="<%= albumData[0].solo[i].albumCover %>">
					<div id="albumData" class="album-data">
						<span class="close-button">X</span>
						<img id="innerAlbumCover" class="inner-album-cover" src="<%= albumData[0].solo[i].albumCover %>">
							<h2><%= albumData[0].solo[i].artist %></h2>
							<h3><%= albumData[0].solo[i].albumTitle %></h3>
						<div class="album-details">
							<p><%= albumData[0].solo[i].year %></p>
							<p><%= albumData[0].solo[i].label %></p>
						</div>
<!-- 						<% for(var j=0; j<albumData[0].solo[i].trackList.length; j++) { %>
							<p><%= albumData[0].solo[i].trackList[j] %></p>
						<% } %> -->
						<% if(albumData[0].solo[i].spotifyURI !== "") { %>
							<iframe class="spotify-frame" src="https://embed.spotify.com/?uri=spotify:album:<%= albumData[0].solo[i].spotifyURI %>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
						<% } %>
					</div>
				</div>

			<% if(counter1 === 2 || i === albumData[0].solo.length - 1) { %>
			<% counter1 = 0 %>
			</div>
			<% } else { counter1++ } %>

		<% } %>
	</div>		
	
	<h2 class="collab-header">Collaborative</h2>
	<div class="music-collab-section">
		<% var counter2 = 0 %>
		<% for(var i = 0;i < albumData[1].collab.length; i++){ %>
			
			<% if(counter2 === 0) { %>
			<div class="row">
			<% } %>

				<div class="album-wrapper col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
					<img class="album-cover"  src="<%= albumData[1].collab[i].albumCover %>">
					<div id="albumData" class="album-data">
						<span class="close-button">X</span>
						<img id="innerAlbumCover" class="inner-album-cover" src="<%= albumData[1].collab[i].albumCover %>">
						<h2><%= albumData[1].collab[i].artist %></h2>
						<h3><%= albumData[1].collab[i].albumTitle %></h3>
						<div class="album-details">
							<p><%= albumData[1].collab[i].year %></p>
							<p><%= albumData[1].collab[i].label %></p>
						</div>
						<% for(var j=0; j<albumData[1].collab[i].trackList.length; j++) { %>
							<p><%= albumData[1].collab[i].trackList[j] %></p>
						<% } %>
					</div>
				</div>

			<% if(counter2 === 2 || i === albumData[1].collab.length - 1) { %>
			<% counter2 = 0 %>
			</div>
			<% } else { counter2++ } %>

		<% } %>
	</div>
	<h2 class="performance-header">Performances</h2>
	<div class="music-performance-section col-xs-12">
		
			<h3 class="past-header">Past</h3>
			<div class="performance-past-wrapper">
				<% for(var i=0; i<performances.length; i++) { %>
				<div class="row">
					<p class="col-xs-3"><%= performances[i].year %></p>
					<p class="col-xs-3"><%= performances[i].date %></p>
					<p class="col-xs-3"><%= performances[i].venue %></p>
					<p class="col-xs-3"><%= performances[i].city %></p>
				</div>
				<% } %>
			</div>
		</div>
	</div>
</div>