<div class="container page-body">
	<div class="bg-screen"></div>
	<h2 class="solo-header">Solo <span class="plus">+</span></h2>
	<div class="row">
		<div class="music-solo-section col-xs-12 col-sm-6">
			<% for (var i=0;i<albumData[0].solo.length;i++) { %>
			<div class="music-list-wrapper" id="splash<%= i %>">
				<div class="row">
					<div class="col-xs-6">
						<h4 class="album-artist"><%= albumData[0].solo[i].artist %></h4>
					</div>
					<div class="col-xs-6">
						<h4 class="album-title"><%= albumData[0].solo[i].albumTitle %></h4>
					</div>
				</div>
			</div>
			<% } %>
		</div>
		<div class="music-splash-section col-xs-12 col-sm-6">
			<% for (var i=0;i<albumData[0].solo.length;i++) { %>
			<div class="album-splash-data" id="splash<%= i %>">
				<img src="<%= albumData[0].solo[i].albumCover %>">
			</div>
			<% } %>
		</div>
	</div>	
	
	<h2 class="collab-header">Collaborative <span class="plus">+</span></h2>
	<div class="row">
		<div class="music-collab-section col-xs-12 col-sm-6">
			<% for (var i=0;i<albumData[1].collab.length;i++) { %>
				<div class="music-list-wrapper" id="splash<%= i +10 %>">
					<div class="row">
						<div class="col-xs-6">
							<h4 class="album-artist"><%= albumData[1].collab[i].artist %></h4>
						</div>
						<div class="col-xs-6">
							<h4 class="album-title"><%= albumData[1].collab[i].albumTitle %></h4>
						</div>
					</div>
				</div>
				<% } %>
			</div>
			<div class="music-splash-section col-xs-12 col-sm-6">
				<% for (var i=0;i<albumData[1].collab.length;i++) { %>
				<div class="album-splash-data" id="splash<%= i + 10 %>">
					<img src="<%= albumData[1].collab[i].albumCover %>">
				</div>
				<% } %>
		</div>
	</div>
	<h2 class="contact-header">Booking and Licensing <span class="plus">+</span></h2>
	<div class="music-contact-section col-xs-12">
		<h3>EU/International Booking: <a href="mailto:nikita@paperandironbooking.com">Paper & Iron</a></h3>
		<h3>Licensing: <a href="mailto:info@bankrobbermusic.com">Bank Robber Music</a></h3>
	</div>
</div>