<div class="nav">
	<span class="nav-arrow"></span>
</div>
<div class="container page-body">
	<h2 class="solo-header">Solo</h2>
	<div class="music-solo-section">
		<% var counter1 = 0 %>
		<% for(var i = 0;i < albumData[0].solo.length; i++){ %>

			<% if(counter1 === 0) { %>
			<div class="row">
			<% } %>

				<div class="album-wrapper col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
					<img class="album-cover" src="<%= albumData[0].solo[i].albumCover %>">
					<div id="albumData" class="album-data">
						<img id="innerAlbumCover" class="inner-album-cover" src="<%= albumData[0].solo[i].albumCover %>">
						<p><%= albumData[0].solo[i].artist %></p>
						<p><%= albumData[0].solo[i].albumTitle %></p>
						<p><%= albumData[0].solo[i].year %></p>
						<p><%= albumData[0].solo[i].label %></p>
						<% for(var j=0; j<albumData[0].solo[i].trackList.length; j++) { %>
							<p><%= albumData[0].solo[i].trackList[j] %></p>
						<% } %>
					</div>
				</div>

			<% if(counter1 === 2 || i === albumData[0].solo.length - 1) { %>
			<% counter1 = 0 %>
			</div>
			<% } else { counter1++ } %>

		<% } %>
	</div>		
	
	<h2 class="collab-header">Collaborative</h2>
	<div class="music-collab-section">
		<% var counter2 = 0 %>
		<% for(var i = 0;i < albumData[1].collab.length; i++){ %>
			
			<% if(counter2 === 0) { %>
			<div class="row">
			<% } %>

				<div class="album-wrapper col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
					<img class="album-cover"  src="<%= albumData[1].collab[i].albumCover %>">
					<div id="albumData" class="album-data">
						<img id="innerAlbumCover" class="inner-album-cover" src="<%= albumData[1].collab[i].albumCover %>">
						<p><%= albumData[1].collab[i].artist %></p>
						<p><%= albumData[1].collab[i].albumTitle %></p>
						<p><%= albumData[1].collab[i].year %></p>
						<p><%= albumData[1].collab[i].label %></p>
						<% for(var j=0; j<albumData[1].collab[i].trackList.length; j++) { %>
							<p><%= albumData[1].collab[i].trackList[j] %></p>
						<% } %>
					</div>
				</div>

			<% if(counter2 === 2 || i === albumData[1].collab.length - 1) { %>
			<% counter2 = 0 %>
			</div>
			<% } else { counter2++ } %>

		<% } %>
	</div>
	<h2 class="performance-header">Performances</h2>
	<div class="music-performance-section col-xs-12">
		
			<h3 class="past-header">Past</h3>
			<div class="performance-past-wrapper">
				<% for(var i=0; i<performances.length; i++) { %>
					<p><%= performances[i].year %></p>
					<p><%= performances[i].date %></p>
					<p><%= performances[i].venue %></p>
					<p><%= performances[i].city %></p>
				<% } %>
			</div>
		</div>
	</div>
</div>